/* app css stylesheet */

.social-list {
   list-style-type: none;
   padding: 20px 0px;
}

.social-list i {
   font-size: 36px;
}

.social-label {
   padding: 0px 10px;
   font-size: 18px;
   vertical-align: text-bottom;
   color: #999;
}

.social-value {
   padding: 0px 15px 0px 0px;
   font-size: 20px;
   float: left;
   text-align: right;
   width: 100px;
   margin-top: -4px;
}


.label-group {
   width: 145px;
   float: left;
}

.data-group {
   padding-top: 10px;
}

.color-linkedin    { color: #0e76a8; }
.color-facebook    { color: #3b5998; }
.color-google-plus { color: #dd4b39; }
.color-twitter     { color: #00acee; }
.color-pinterest   { color: #cb2027; }
.color-xing        { color: #026466; }
.color-vk          { color: #45668E; }

.bkcolor-linkedin    { background-color: #0e76a8; }
.bkcolor-facebook    { background-color: #3b5998; }
.bkcolor-google-plus { background-color: #dd4b39; }
.bkcolor-twitter     { background-color: #00acee; }
.bkcolor-pinterest   { background-color: #cb2027; }
.bkcolor-xing        { background-color: #026466; }
.bkcolor-vk          { background-color: #45668E; }
