
<div class="page-header">
  <h1><small>page-info method</small></h1>
</div>

<div>
  <div class="input-group">
     <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
     <input type="url" class="form-control" placeholder="Enter page url, ex https://github.com/blog/category/drinkup" ng-model="model.url">
     <span class="input-group-addon" ng-click="startSearch()"><i class="glyphicon glyphicon-search"></i></span>
  </div>  

<div class="panel social-list">
	

  <div>
     <div class="label-group">
        <i class="fa fa-facebook-square color-facebook"></i>
        <span class="social-label">Facebook</span>
     </div>
     <div class="data-group">
         <span class="social-value">{{data.facebook.cnt}}</span>
         <div class="progress">
           <div class="progress-bar bkcolor-facebook" role="progressbar" ng-style="{width: (data.facebook.progress+'%')}">
           </div>
         </div>
     </div>
  </div>

  <div>
     <div class="label-group">
        <i class="fa fa-twitter-square color-twitter"></i>
        <span class="social-label">Twitter</span>
     </div>
     <div class="data-group">
         <div class="social-value">{{data.twitter.cnt}}</div>
         <div class="progress">
           <div class="progress-bar bkcolor-twitter" role="progressbar" ng-style="{width: (data.twitter.progress+'%')}">
           </div>
         </div>
     </div>
  </div>

  <div>
     <div class="label-group">
        <i class="fa fa-google-plus-square color-google-plus"></i>
        <span class="social-label">Google+</span>
     </div>
     <div class="data-group">
         <span class="social-value">{{data.googlep.cnt}}</span>
         <div class="progress">
           <div class="progress-bar bkcolor-google-plus" role="progressbar" ng-style="{width: (data.googlep.progress+'%')}">
           </div>
         </div>
     </div>
  </div>

  <div>
     <div class="label-group">
        <i class="fa fa-linkedin-square color-linkedin"></i>
        <span class="social-label">LinkedIn</span>
     </div>
     <div class="data-group">
         <span class="social-value">{{data.linkedin.cnt}}</span>
         <div class="progress">
           <div class="progress-bar bkcolor-linkedin" role="progressbar" ng-style="{width: (data.linkedin.progress+'%')}">
           </div>
         </div>
     </div>
  </div>

  <div>
     <div class="label-group">
        <i class="fa fa-pinterest-square color-pinterest"></i>
        <span class="social-label">Pinterest</span>
     </div>
     <div class="data-group">
         <span class="social-value">{{data.pinterest.cnt}}</span>
         <div class="progress">
           <div class="progress-bar bkcolor-pinterest" role="progressbar" ng-style="{width: (data.pinterest.progress+'%')}">
           </div>
         </div>
     </div>
  </div>

  <div>
     <div class="label-group">
        <i class="fa fa-xing-square color-xing"></i>
        <span class="social-label">Xing</span>
     </div>
     <div class="data-group">
         <span class="social-value">{{data.xing.cnt}}</span>
         <div class="progress">
           <div class="progress-bar bkcolor-xing" role="progressbar" ng-style="{width: (data.xing.progress+'%')}">
           </div>
         </div>
     </div>
  </div>

  <div>
     <div class="label-group">
        <i class="fa fa-vk color-vk"></i>
        <span class="social-label">VKontakte</span>
     </div>
     <div class="data-group">
         <span class="social-value">{{data.vkontakte.cnt}}</span>
         <div class="progress">
           <div class="progress-bar bkcolor-vk" role="progressbar" ng-style="{width: (data.vkontakte.progress+'%')}">
           </div>
         </div>
     </div>
  </div>

</div>

</div>

